In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
tickers = ['GE', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2011-1-1')['Adj Close']

In [5]:
sec_data.tail()

                GE     BEI.DE
Date
2017-11-10  20.490  97.410004
2017-11-13  19.020  96.820000
2017-11-14  17.900  96.629997
2017-11-15  18.260  96.419998
2017-11-16  18.205  96.849998

In [6]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [7]:
sec_returns

                  GE    BEI.DE
Date
2011-01-03       NaN       NaN
2011-01-04  0.017891  0.011195
2011-01-05  0.001611  0.026110
2011-01-06 -0.004301 -0.006787
2011-01-07 -0.007029 -0.012286
2011-01-10  0.004331 -0.009794
2011-01-11  0.006462 -0.010619
2011-01-12  0.002145  0.004237
2011-01-13 -0.003756 -0.007153
2011-01-14  0.011758 -0.009658
2011-01-18 -0.011758  0.000859
2011-01-19 -0.014622 -0.018333
2011-01-20  0.005441 -0.005768
2011-01-21  0.068667  0.003389
2011-01-24  0.015083  0.006993
2011-01-25 -0.002999 -0.002866
2011-01-26 -0.003007  0.002742
2011-01-27  0.017911 -0.001744
2011-01-28 -0.003953 -0.002622
2011-01-31 -0.002975  0.000500
2011-02-01  0.032245  0.021017
2011-02-02 -0.004337  0.008285
2011-02-03  0.001930  0.004600
2011-02-04 -0.009199  0.010811
2011-02-07  0.014966 -0.007917
2011-02-08  0.019455  0.013872
2011-02-09  0.001409 -0.010026
2011-02-10 -0.001879 -0.005895
2011-02-11  0.002817  0.002170
2011-02-14  0.007939 -0.000241
...              ...       ...
2017-10-06 -0.006131       NaN
2017-10-09 -0.040156       NaN
2017-10-10 -0.002992  0.006795
2017-10-11 -0.012492  0.004577
2017-10-12 -0.000867  0.008230
2017-10-13 -0.003041  0.012112
2017-10-16  0.016401  0.001384
2017-10-17 -0.007304 -0.005227
2017-10-18 -0.003023  0.007565
2017-10-19  0.019701 -0.012067
2017-10-20  0.010546 -0.011453
2017-10-23 -0.065462 -0.000217
2017-10-24 -0.019453 -0.009831
2017-10-25 -0.017977 -0.001538
2017-10-26 -0.008407  0.058501
2017-10-27 -0.025173 -0.000726
2017-10-30 -0.018447 -0.000727
2017-10-31 -0.012325  0.000000
2017-11-01 -0.006969  0.019130
2017-11-02 -0.004004 -0.011373
2017-11-03  0.009980  0.008516
2017-11-06 -0.000497 -0.002865
2017-11-07  0.003966 -0.006270
2017-11-08 -0.004463  0.014128
2017-11-09 -0.006482 -0.005607
2017-11-10  0.024705 -0.004200
2017-11-13 -0.074446 -0.006075
2017-11-14 -0.060690 -0.001964
2017-11-15  0.019912 -0.002176
2017-11-16 -0.003017  0.004450

[1732 rows x 2 columns]