In [2]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [3]:
tickers = ['GE', 'BEI.DE']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2011-1-1')['Adj Close']

In [4]:
sec_data.tail()

                   GE     BEI.DE
Date
2017-11-22  18.150000  97.360001
2017-11-24  18.190001  97.199997
2017-11-27  18.120001  96.930000
2017-11-28  18.410000  98.459999
2017-11-29  18.395000  98.379997

In [5]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [6]:
sec_returns

                  GE    BEI.DE
Date
2011-01-03       NaN       NaN
2011-01-04  0.017891  0.011195
2011-01-05  0.001611  0.026110
2011-01-06 -0.004301 -0.006787
2011-01-07 -0.007029 -0.012286
2011-01-10  0.004331 -0.009794
2011-01-11  0.006462 -0.010619
2011-01-12  0.002145  0.004237
2011-01-13 -0.003756 -0.007153
2011-01-14  0.011758 -0.009658
2011-01-18 -0.011758  0.000859
2011-01-19 -0.014622 -0.018333
2011-01-20  0.005441 -0.005768
2011-01-21  0.068667  0.003389
2011-01-24  0.015083  0.006993
2011-01-25 -0.002999 -0.002866
2011-01-26 -0.003007  0.002742
2011-01-27  0.017911 -0.001744
2011-01-28 -0.003953 -0.002622
2011-01-31 -0.002975  0.000500
2011-02-01  0.032245  0.021017
2011-02-02 -0.004337  0.008285
2011-02-03  0.001930  0.004600
2011-02-04 -0.009199  0.010811
2011-02-07  0.014966 -0.007917
2011-02-08  0.019455  0.013872
2011-02-09  0.001409 -0.010026
2011-02-10 -0.001879 -0.005895
2011-02-11  0.002817  0.002170
2011-02-14  0.007939 -0.000241
...              ...       ...
2017-10-18 -0.003023  0.007565
2017-10-19  0.019701 -0.012067
2017-10-20  0.010546 -0.011453
2017-10-23 -0.065462 -0.000217
2017-10-24 -0.019453 -0.009831
2017-10-25 -0.017977 -0.001538
2017-10-26 -0.008407  0.058501
2017-10-27 -0.025173 -0.000726
2017-10-30 -0.018447 -0.000727
2017-10-31 -0.012325  0.000000
2017-11-01 -0.006969  0.019130
2017-11-02 -0.004004 -0.011373
2017-11-03  0.009980  0.008516
2017-11-06 -0.000497 -0.002865
2017-11-07  0.003966 -0.006270
2017-11-08 -0.004463  0.014128
2017-11-09 -0.006482 -0.005607
2017-11-10  0.024705 -0.004200
2017-11-13 -0.074446 -0.006075
2017-11-14 -0.060690 -0.001964
2017-11-15  0.019912 -0.002176
2017-11-16 -0.000548  0.004450
2017-11-17 -0.002194 -0.003102
2017-11-20 -0.012711  0.012352
2017-11-21 -0.008378  0.004491
2017-11-22  0.017788 -0.008489
2017-11-24  0.002201 -0.001645
2017-11-27 -0.003856 -0.002782
2017-11-28  0.015878  0.015661
2017-11-29 -0.000815 -0.000813

[1740 rows x 2 columns]

# General Electric

In [7]:
sec_returns['GE'].mean()

0.00013509819524987763

In [8]:
sec_returns['GE'].mean() * 250

0.033774548812469406

In [9]:
sec_returns['GE'].std()

0.013065872287163599

In [10]:
sec_returns['GE'].std() * 250 ** 0.5

0.20658958022155288

# Beiersdorf

In [11]:
sec_returns['BEI.DE'].mean()

0.00057601609578530519

In [12]:
sec_returns['BEI.DE'].mean() * 250

0.1440040239463263

In [13]:
sec_returns['BEI.DE'].std()

0.011740871980313827

In [14]:
sec_returns['BEI.DE'].std() * 250 ** 0.5

0.18563948587121645

In [15]:
sec_returns[['GE', 'BEI.DE']].mean() * 250

GE        0.033775
BEI.DE    0.144004
dtype: float64

In [16]:
sec_returns[['GE', 'BEI.DE']].std() * 250 ** 0.5

GE        0.206590
BEI.DE    0.185639
dtype: float64

In [17]:
GE_var = sec_returns['GE'].var()
GE_var

0.00017071701862446975

In [18]:
BEI_var = sec_returns['BEI.DE'].var()
BEI_var

0.00013784807485811833

In [19]:
GE_var_a = sec_returns['GE'].var() * 250
GE_var_a

0.042679254656117438

In [21]:
BEI_var_a = sec_returns['BEI.DE'].var() * 250
BEI_var_a

0.034462018714529585

In [22]:
cov_matrix = sec_returns.cov()
cov_matrix

              GE    BEI.DE
GE      0.000171  0.000041
BEI.DE  0.000041  0.000138

In [23]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

              GE    BEI.DE
GE      0.042679  0.010188
BEI.DE  0.010188  0.034462

In [24]:
corr_matrix = sec_returns.corr()
corr_matrix

              GE    BEI.DE
GE      1.000000  0.263765
BEI.DE  0.263765  1.000000