In [1]:
def simple():
    print("Some func comin to ya from the Mother Ship Connection")

In [2]:
simple()

Some func comin to ya from the Mother Ship Connection

In [4]:
def plus_ten(a):
    return a + 10

In [5]:
plus_ten(9)

19

In [7]:
def plus_ten(a):
    result = a + 10
    return result

In [8]:
plus_ten(2)

12

In [10]:
def wage(w_hours):
    return w_hours * 25

def with_bonus(w_hours):
    return wage(w_hours) + 50

In [11]:
wage(8), with_bonus(8)

(200, 250)

In [15]:
def add_10(m):
    if m >= 100:
        return m + 10
    else:
        return m, "Save more"

In [16]:
add_10(100)

110

In [17]:
add_10(40)

(40, 'Save more')

In [19]:
def subtract_bc(a,b,c):
    result = a - b * c
    print('Parameter a =', a)
    print('Parameter b =', b)
    print('Parameter c =', c)
    return result

In [20]:
subtract_bc(10,3,2)

Parameter a = 10
Parameter b = 3
Parameter c = 2

4

In [21]:
subtract_bc(b=3,a=11,c=5)

Parameter a = 11
Parameter b = 3
Parameter c = 5

-4

In [23]:
# Notable Built-In Functions
type(10)

int

In [24]:
int(5.334)

5

In [28]:
float(3)

3.0

In [29]:
str(500)

'500'

In [30]:
max(123,234,234,5993)

5993

In [31]:
min(123,234,234,5993)

123

In [33]:
z=-20
abs(z)

20

In [34]:
list_1 = [1,2,3,37]

In [35]:
sum(list_1)

43

In [36]:
round(3.5556666,3)

3.556

In [37]:
round(3.2)

3

In [38]:
2 ** 10

1024

In [39]:
pow(2,10)

1024

In [40]:
len('Mathemagics')

11

In [41]:
426-282

144

In [57]:
Crew = ['Rick', 'Bob', 'Alice', 'Stanley', 'Martin']
Crew

['Rick', 'Bob', 'Alice', 'Stanley', 'Martin']

In [58]:
Crew[1]

'Bob'

In [59]:
print(Crew[0],Crew[2])

Rick Alice

In [60]:
Crew[-1]

'Martin'

In [61]:
Crew[3]= 'Drake'
Crew

['Rick', 'Bob', 'Alice', 'Drake', 'Martin']

In [62]:
Crew

['Rick', 'Bob', 'Alice', 'Drake', 'Martin']

In [65]:
del Crew[2]
Crew

['Rick', 'Bob', 'Drake']

In [66]:
Crew

['Rick', 'Bob', 'Drake']

In [68]:
Crew.append("Daddy Yankee")
Crew

['Rick', 'Bob', 'Drake', 'Daddy Yankee', 'Daddy Yankee']

In [70]:
Crew.extend(['Farruko', 'J. Balvin'])
Crew

['Rick',
 'Bob',
 'Drake',
 'Daddy Yankee',
 'Daddy Yankee',
 'Farruko',
 'J. Balvin',
 'Farruko',
 'J. Balvin']

In [72]:
Crew[2:6]

['Drake', 'Daddy Yankee', 'Daddy Yankee', 'Farruko']

In [74]:
len(Crew)

9

In [75]:
Crew[3:]

['Daddy Yankee',
 'Daddy Yankee',
 'Farruko',
 'J. Balvin',
 'Farruko',
 'J. Balvin']

In [79]:
Crew[:2]

['Rick', 'Bob']

In [78]:
Crew[4:]

['Daddy Yankee', 'Farruko', 'J. Balvin', 'Farruko', 'J. Balvin']

In [80]:
Crew[-2:]

['Farruko', 'J. Balvin']

In [81]:
Crew.index('Farruko')

5

In [82]:
Rappers = ['Fat Pat', 'Lil Troy']
Rappers

['Fat Pat', 'Lil Troy']

In [83]:
Combo_List = [Crew, Rappers]
Combo_List

[['Rick',
  'Bob',
  'Drake',
  'Daddy Yankee',
  'Daddy Yankee',
  'Farruko',
  'J. Balvin',
  'Farruko',
  'J. Balvin'],
 ['Fat Pat', 'Lil Troy']]

In [84]:
Crew.sort()
Crew

['Bob',
 'Daddy Yankee',
 'Daddy Yankee',
 'Drake',
 'Farruko',
 'Farruko',
 'J. Balvin',
 'J. Balvin',
 'Rick']

In [86]:
Crew.sort(reverse=True)
Crew

['Rick',
 'J. Balvin',
 'J. Balvin',
 'Farruko',
 'Farruko',
 'Drake',
 'Daddy Yankee',
 'Daddy Yankee',
 'Bob']

In [87]:
Nums = [5,4,6,4,6,7,2,3]
Nums.sort()
Nums

[2, 3, 4, 4, 5, 6, 6, 7]

In [88]:
Nums.sort(reverse=True)
Nums

[7, 6, 6, 5, 4, 4, 3, 2]

In [89]:
k = (99,111,33)
k

(99, 111, 33)

In [90]:
k[0]

99

In [91]:
l = (108,133,777)
l

(108, 133, 777)

In [92]:
List = [k,l]
List

[(99, 111, 33), (108, 133, 777)]

In [94]:
(age, years_of_school) = "30,17".split(',')
print(age)
print(years_of_school)

30
17

In [96]:
def square_info(x):
    A = x ** 2
    P = 4 * x
    print('Area and Perimeter:')
    return A,P

square_info(9)

Area and Perimeter:

(81, 36)

In [97]:
dict = {'k1': "cat", 'k2': "dog", 'k3': "snake", 'k4': "falcon"}
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'snake', 'k4': 'falcon'}

In [98]:
dict['k1']

'cat'

In [101]:
dict['k3']

'snake'

In [102]:
dict['k5'] = 'tiger'
dict

{'k1': 'cat', 'k2': 'dog', 'k3': 'snake', 'k4': 'falcon', 'k5': 'tiger'}

In [103]:
dict['k2'] = 'aye-aye'
dict

{'k1': 'cat', 'k2': 'aye-aye', 'k3': 'snake', 'k4': 'falcon', 'k5': 'tiger'}

In [105]:
dept_personnel = {'eng_1': 'Pete', 'eng_2': ['Joe', 'Bob', 'Joe-Bob', 'Jim-Bob']}

In [106]:
dept_personnel['eng_2']

['Joe', 'Bob', 'Joe-Bob', 'Jim-Bob']

In [107]:
Team = {}
Team['Running Back'] = 'Tony Dorsett'
Team['QB'] = 'Troy Aikman'
Team['Right Guard'] = 'Nate Newton'
Team['Cornerback'] = 'Neon Dione'
Team['Wide Receiver'] = 'Michael Irvin'

In [108]:
print(Team)

{'QB': 'Troy Aikman', 'Right Guard': 'Nate Newton', 'Cornerback': 'Neon Dione', 'Running Back': 'Tony Dorsett', 'Wide Receiver': 'Michael Irvin'}

In [109]:
Team['Cornerback']

'Neon Dione'

In [110]:
Team.get('Wide Receiver')

'Michael Irvin'

In [112]:
print(Team.get('Tight End'))

None