In [1]:
import numpy as np
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
PWR = wb.DataReader('PWR', data_source='yahoo', start='2010-1-1')

In [3]:
PWR.head()

                 Open       High        Low      Close  Adj Close   Volume
Date
2010-01-04  21.120001  21.280001  21.000000  21.240000  21.240000  2460200
2010-01-05  21.320000  21.500000  21.100000  21.330000  21.330000  2156000
2010-01-06  21.360001  22.100000  21.260000  21.940001  21.940001  2901900
2010-01-07  21.980000  22.350000  21.860001  22.270000  22.270000  1940800
2010-01-08  22.129999  22.219999  21.700001  21.860001  21.860001  2612400

In [4]:
PWR.tail()

                 Open       High        Low      Close  Adj Close   Volume
Date
2017-11-07  36.180000  36.270000  35.700001  36.209999  36.209999  1684000
2017-11-08  36.049999  36.599998  35.840000  36.340000  36.340000  1404400
2017-11-09  36.060001  36.189999  35.450001  35.509998  35.509998  1261700
2017-11-10  35.430000  35.980000  35.380001  35.840000  35.840000   850300
2017-11-13  35.660000  36.790001  35.660000  36.720001  36.720001  1866268

In [6]:
PWR['simple_return'] = (PWR['Adj Close'] / PWR['Adj Close'].shift(1)) - 1
print(PWR['simple_return'])

Date
2010-01-04         NaN
2010-01-05    0.004237
2010-01-06    0.028598
2010-01-07    0.015041
2010-01-08   -0.018410
2010-01-11   -0.040256
2010-01-12   -0.018589
2010-01-13    0.001943
2010-01-14   -0.057683
2010-01-15   -0.019547
2010-01-19   -0.030430
2010-01-20    0.009199
2010-01-21   -0.008043
2010-01-22   -0.007027
2010-01-25    0.002177
2010-01-26    0.001086
2010-01-27    0.004341
2010-01-28   -0.016748
2010-01-29    0.001099
2010-02-01    0.008782
2010-02-02    0.000000
2010-02-03    0.003809
2010-02-04   -0.041192
2010-02-05   -0.029960
2010-02-08    0.009907
2010-02-09    0.015580
2010-02-10   -0.009659
2010-02-11    0.009180
2010-02-12   -0.005685
2010-02-16    0.010292
                ...
2017-10-03    0.001871
2017-10-04   -0.009336
2017-10-05    0.009693
2017-10-06    0.001067
2017-10-09   -0.004529
2017-10-10   -0.000268
2017-10-11    0.004283
2017-10-12   -0.000533
2017-10-13   -0.005600
2017-10-16    0.014749
2017-10-17   -0.010307
2017-10-18   -0.001335
2017-10-19   -0.006150
2017-10-20    0.007533
2017-10-23    0.000801
2017-10-24    0.010672
2017-10-25   -0.013464
2017-10-26    0.012309
2017-10-27    0.003965
2017-10-30    0.002106
2017-10-31   -0.008671
2017-11-01   -0.010337
2017-11-02   -0.020889
2017-11-03   -0.024617
2017-11-06    0.018228
2017-11-07   -0.002754
2017-11-08    0.003590
2017-11-09   -0.022840
2017-11-10    0.009293
2017-11-13    0.024554
Name: simple_return, Length: 1981, dtype: float64